[Desktop Entry]
Name=WmMoonClock
Comment=Moon phases
Comment[pl]=Fazy księżyca
Exec=wmMoonClock
Terminal=0
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
